@font-face {
  font-family: aspergit;
  src: url("./Aspergit.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: aspergit;
  src: url("./Aspergit Light.otf") format("opentype");
  font-style: normal;
  font-weight:lighter;
}
@font-face {
  font-family: aspergit;
  src: url("./Aspergit Light Italic.otf") format("opentype");
  font-style:italic;
  font-weight:lighter;
}
@font-face {
  font-family: aspergit;
  src: url("./Aspergit Italic.otf") format("opentype");
  font-style:italic;
  font-weight:normal;
}
@font-face {
  font-family: aspergit;
  src: url("./Aspergit Bold.otf") format("opentype");
  font-style:normal;
  font-weight:bold;
}
@font-face {
  font-family: aspergit;
  src: url("./Aspergit Bold Italic.otf") format("opentype");
  font-style:italic;
  font-weight:bold;
}

:root {
  font-family: aspergit;
}